# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

#folder
.vs/
Debug/
Release/
NetworkModel/Debug/
NetworkModel/Release/
NetworkModel/x64/
Functions/Debug/
Functions/Release/
Functions/x64/
Network/Debug/
Network/Release/
Network/x64/

#file
*.sln
x64/Debug/*.pdb
x64/Debug/*.exe
x64/Release/*.pdb
x64/Release/*.exe
NetworkModel/*.vcxproj
NetworkModel/*.vcxproj.filters
NetworkModel/*.vcxproj.user
Functions/*.vcxproj
Functions/*.vcxproj.filters
Functions/*.vcxproj.user
Network/*.vcxproj
Network/*.vcxproj.filters
Network/*.vcxproj.user
PacketGenerator/*.vcxproj
PacketGenerator/*.vcxproj.filters
PacketGenerator/*.vcxproj.user